:root {
	--primario : #FFC107;
	--secundario : #0097A7;
	--oscuro: #212121;

	--anchoPantalla: 1200px;
}

html {
	min-height: 100%;
  box-sizing: border-box;
}a 
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	min-height: 100%;
	font-family: krub, sans-serif;
	font-size: 2.9rem;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
h1, h2, h3 {
   margin: 0;
}

h2, h3 {
   text-align: center;
}

h3{
   color: var(--secundario);
   font-weight: 400;
   font-size: 3rem;
}
.site-header {
	background-color: white;
}

.site-header nav {
	max-width: var(----anchoPantalla);
	margin: 0 auto;
	padding: 2rem 0;

	display: flex;

	flex-direction: column-reverse;
	align-items: center;
}

h5 {
	font-size: 2.5rem;
}

h1,p {
	margin: 20px;
	font-size: 20px;
	text-align: center;
	color: black;
}

h4 {
	text-align: center;
	color: var(--secundario);
	font-weight: 400;
	font-size: 2.2rem;
}

.header.site-header {
	font-size: 
}

@media (min-width: 768px) {
	.site-header nav {
		flex-direction: row;
		justify-content: space-between;
	}
}  

.site-header nav a {
	color: var(--oscuro);
	font-size: 1.6rem;
	text-decoration: none;
	margin-bottom: 2rem;

   display: flex;
   flex-direction: column;
   align-items: center;
}
.site-header nav a:last-of-type {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.site-header nav a {
		margin-bottom: 0;
	}
}

.site-header nav a:hover {
	background-color: lightblue;
}

.site-heeader nav a:last-of-type{
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.site-header nav a {
		margin-bottom: 0;
	}
}


.hero {
	height: 25rem;
	background-image: url(../montate/empresa1.jpg);
	position: relative;
	display: flex;
	justify-content: center;
   align-items: center; 
}


.hero::after {
	content:'';
	background-color: rgba(0,0,0, .8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.contenedor-hero {
	color: white;
	position: relative;
	z-index: 1;
   text-align: center;
}

.contenedor-hero i {
	font-size: 4rem;
	color: var(--primario);
}

.boton {
	background-color: lightblue;
	padding: 1rem 5rem;
	margin-top: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 2.2rem;
	border-radius: .5rem;

}

.contenedor {
    max-width: var(--anchoPantalla)
    margin: 0  auto;
    background: white;
    padding: 3rem;
    border-radius: 1rem;
}
.servicios {
    margin-top: 3rem;
    display: inline-block;
}

.servicios-contenedor {
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 40px 0px rgba(0,0,0,0.75);
}

@media (min-width: 768px){
.contenedor-servicios {
	background-color: white;
   display: flex;
   flex-direction: row;
	padding: 3rem;
	border-radius: 1rem;
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0, .75);
}

.servicio {
		margin: 1rem auto;
        display: flex;
}



